.typewritter {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  border-right: 12px solid #f93c47;
  white-space: nowrap;
  overflow: hidden;
  width: 37rem;
}

.anim-typewriter {
  animation: typewriter 4s steps(16) 1s 1 normal both,
    blink 0.7s step-end infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 37rem;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
